{% extends 'base.html' %} {% block content %}
<div class="pt-32">
  <h1 class="text-7xl text-white text-center">{{ room.name }}</h1>
</div>

<div class = "bg-white rounded"> 
    <div class = "chat-messages" id="chat-messages">
        <div class = "bg-gray-300 rounded">
            <p> Username</p>
            <p> blah blah ima message</p>
        </div>
        <div class = "bg-gray-300 rounded">
            <p> Username</p>
            <p> blah blah ima message</p>
        </div>
        <div class = "bg-gray-300 rounded">
            <p> Username</p>
            <p> blah blah ima message</p>
        </div>
    </div>

</div>
{% endblock %}
