{% extends 'base.html' %} {% block content %}
<div class="pt-32">
  <h1 class="text-7xl text-white text-center">{{ room.name }}</h1>
</div>

<div class = "bg-white rounded"> 
    <div class = "chat-messages" id="chat-messages">
        {% for message in messages %}
        <div class = "bg-gray-300 ">
            <p>{{ message.user.username}}</p>
            <p>{{ message.content }} </p>
        </div>
        {% endfor %}
        </div>
    </div>
</div>

<div class = "bg-white rounded">
    <form method = "post" action="."  class = "flex">
        <input type = "text" name ="content" placeholder ="Type message here" id = "chat-message-input">
        <button class="bg-white text-gray-400 hover:bg-slate-500 font-bold py-2 px-4 rounded" id = "chat-message-submit">Submit</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname"}}
{{ request.user.username|json_script:"json-username" }}
<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        console.log('onmessage')
        const data = JSON.parse(e.data);
        if (data.message) {
            let html = '<div class = "bg-gray-300 rounded">';
                html +=  '<p>' + data.username + '</p>';
                html += '<p>' + data.message + '</p></div>';
                document.querySelector('#chat-messages').innerHTML += html;
                scroll();
        } else {
            alert('No message')
        }
    }
    
    chatSocket.onclose = function(e) {
        console.log('onclose')
    }

    document.querySelector('#chat-message-submit').onclick = function(e){
        e.preventDefault();

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': roomName
        }))
        messageInputDom.value = '';
        return false;
    }

    function scroll(){
        const objDiv = document.querySelector('#chat-messages');
        objDiv.scrollTop = objDiv.scrollHeight;
    }
    scroll();

</script>
{% endblock %}
